<!DOCTYPE html>
<!--本练习主要是用来练习Angular知识，其他内容不是重点。-->

<html>
<meta charset="utf-8">
<title>Angular-增删企业员工信息的练习</title>
<script src="https://cdn.bootcss.com/angular.js/1.4.6/angular.min.js"></script>
<style>
    /**{*/
        /*margin: 0;*/
        /*padding: 0;*/
    /*}*/

    /*去掉表格的多重边框*/
    table{
        border-collapse: collapse;
    }

    table,th,td{
        border: 1px solid black;
    }



</style>
<body>
    <div ng-app="MyApp" ng-controller="MyCtrl">
        <!--表格中存放员工信息-->
        <table>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Salary</th>
                <th></th>
            </tr>
            <!--list中的每一项item中均存放了一位员工的信息-->
            <tr ng-repeat="item in list">
                <td ng-bind="item.name"></td>
                <td ng-bind="item.email"></td>
                <td ng-bind="item.salary"></td>
                <!--绑定删除单击函数。实参$index是当前item的索引，如果使用filter返回数组，注意索引的变化-->
                <td><a style="color:red; text-decoration: none",
                       href="#" ng-click="deleteList($index)"> DELETE </a></td>
            </tr>
        </table>

        <div id="box1">
            <!--将输入的值保存在属性name,email,salary中-->
            <h2>请添加员工信息:</h2>
            <p>姓名：<input type="text" ng-model="name"></p>
            <p>邮箱：<input type="text" ng-model="email"></p>
            <p>薪水：<input type="number" ng-model="salary"></p>
            <!--绑定添加单击函数-->
            <p><button ng-click="addInfo()">添加</button></p>
        </div>

    </div>

<script>
    var app = angular.module("MyApp", []) //返回模块对象
    app.controller("MyCtrl", ["$scope",function ($scope) {  //控制器函数

        $scope.list = [
            {"name": "Tom", "email": "abc@qq.com", "salary": 2000},
            {"name": "liuyifei", "email": "rrr@qq.com", "salary": 3000},
            {"name": "zhangbicheng", "email": "abc@qq.com", "salary": 3000}
        ]

        $scope.addInfo = function () {//添加信息的函数
            this.name = this.name && this.name.trim()
            this.email = this.email && this.email.trim()
            //注意this.item.name和this.name不是一回事。前者是list中的，后者是input中用户输入的值。
            if(!(this.name&&this.email)){//判断用户输入的姓名是否为空串或只含空格的字符串 。
                alert("你输入的姓名或邮箱为空，请重新输入。")
                return
            }
            this.item = {"name": this.name, "email": this.email, "salary": this.salary}
            this.list.push(this.item)
            //输入完成后，自动清除
            this.name = ""
            this.email = ""
            this.salary = ""
        }

        $scope.deleteList = function (index) {//删除信息的函数
            if(confirm("确定要删除么？")){
                this.list.splice(index, 1)//使用splice对数组操作
            }

        }
    }])
</script>

</body>
</html>